body{
background-color: darkslateblue;
font-style:Arial;

}
h1{
    color: hotpink;
    font-size: 24px;
}
p{
    margin: 10px;
    font-style: sans-serif;
    font-size: 14px;
}
ul {
    background-color: #f0f0f0;
    border-radius: 5px;
}
